---
import Layout from "../layouts/Layout.astro";
import Eventosolo from "../components/eventosolo.astro";
import Modal from "../components/modal.astro";

import mutek1 from "../perfoimg/mutek1.jpg";  
import macba from "../perfoimg/macba.jpg"; 
import museomar from "../perfoimg/museomar.jpg";  
---

<Layout>

  <h1>performance</h1>

  <!-- MODAL -->
  <Modal isOpen={false} />

  <Eventosolo
    title="mutek 2023"
    image={mutek1.src}                  
    text=""  
  />

  <Eventosolo
  title="macba 2024"
  image={macba.src}   
  text="."
/>


   <Eventosolo
    title="museo mar 2024"
    image={museomar.src}
    text=""

  />

</Layout>

<style>
h1 {
    color: #363836;
  text-align: center;
  margin-bottom: 40px;
  font-size: 22px;
  letter-spacing: 2px;
}
</style>

<script>
  // Le decimos a TS que este elemento tiene setProps()
  const modal = document.getElementById("modal") as any;

  window.addEventListener("openModal", (event) => {
    const e = event as CustomEvent;

    modal?.setProps({
      isOpen: true,
      title: e.detail.title,
      text: e.detail.text,
      images: e.detail.images,
    });
  });

  window.addEventListener("closeModal", () => {
    modal?.setProps({ isOpen: false });
  });
</script>

