---
const { title, image, text } = Astro.props;
---

<div class="evento-card">
  <div class="evento-img-wrapper">
    <img src={image} alt={title} />
  </div>
  <p class="evento-title">{title}</p>
</div>

<style>
.evento-card {
  width: 100%;
  max-width: 550px;        
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
}

/* contenedor de la imagen con proporcion fija */
.evento-img-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;    
  overflow: hidden;
}

.evento-card:hover {
  transform: scale(1.03);
    transition:
    transform 0.5s ease,     /* escala cuando entra */
}


/* imagen */
.evento-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

/* titulo */
.evento-title {
  font-family: "Rokkitt", serif;
  padding: 12px 10px;
  font-size: 18px;
  color: #363836;
  text-align: center;
  margin: 0%;
}
</style>
